@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
}
header img{
    width: 200px;
    height: 200px;
    margin-left: 130px;
}
ul {
    display: flex;
    margin-left: 50%;
}
li{
    display: flex;
    text-align: center;
    margin-top: 80px;
}
li a{
    text-decoration: none;
    padding: 7px;
    font-size: 20px;
    color: #80d4ff;
}
a:hover{
color:#2439ED;
font-weight: bold;
}
.begin{
    width: 75%;
    margin-left: 12.5%;
    height: 700px;
}
.begin img{
    height: 700px;
    width: 100%;
}
.title-one{
    margin-left: 10%;
    font-size: 52px;
    color: #80d4ff ;
    width: 50%;
}
.second{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 500px;
    margin-left: 9%;
    margin-top: 25px;
}
.container img{
    width: 200px;
    height: 200px;
    margin-left: 50px ;
}
.container h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 60px;
    margin-left: 50px;
    height: 400px;
    width: 400px;
}
.line{
    height: 400px;
    background-color: #A2BAE0;
    width: 0.5px;
    margin-top: 60px;
    margin-left: 15px;
    opacity: 30%;
}
.line2{
    height: 400px;
    background-color: #A2BAE0;
    width: 0.5px;
    margin-top: 60px;
    margin-left: 50px;
    opacity: 30%;
}
.lokacioni{
    margin-left: 10%;
    margin-top: 25px;
    font-size: 52px;
    color: #80d4ff;
    margin-bottom: 60px;
    width: 50%;
}
#map{
    margin-top: 15px;
    margin-left: 10%;
    width: 1100px;
    height: 300px;
}
.about{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1100px;
    height: 250px;
    margin-left: 10%;
}
.about h1{
    font-size: 52px;
    color: #80d4ff;
    margin-bottom: 35px;
}
.line-above{
    width: 75%;
    margin-left: 10%;
    height: 1px;
    background-color: #A2BAE0;
    margin-top: 30px;
    opacity: 50%;
}
footer{
    display: flex;
    width: 75%;
    margin-left: 10%;
    height: 350px;
    flex-direction: row;
}
.logo-f img{
    margin-left :110px;
    margin-top: 25px;
    width: 200px;
    height: 200px;
}
.social-ff img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}
.social-f{
    margin-left: 90px;
}
.left{
    width: 400px;
    height: 400px;
    margin-left: 60px;
}
.middle{
    flex-direction: row;
    width: 400px;
    height: 400px;
    text-align: left;
}
.tekst{
    display: flex;
    margin-top: 150px;
}
.text-f{
    margin-left: 70px;
    margin-right: 40px;
}
.text-ff{
    margin-right: 40px;
}
.left-nr{
    display: flex;
    margin-left: 100px;
    text-align: center;
    margin-top: 130px;
}
.left-nr img{
    width: 50px;
    height: 50px;
}
.nr-tel{
    margin-top: 12px;
    margin-left: 10px;
}
.left-nr2{
    display: flex;
    text-align: center;
    margin-left: 100px;
    margin-top: 10px;
}
.left-nr2 img{
    width: 50px;
    height: 50px;
}
.line-f{
    height: 300px;
    background-color: #A2BAE0;
    width: 0.5px;
    margin-top: 60px;
    margin-left: 50px;
    opacity: 30%;
}
.login{
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border:1px solid #A2BAE0;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    margin-left: 15px;
}