@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body{
    width: 100%;
    width: 100%;
}
header{
    display: flex;
    width: 100%;
}
header img{
    width: 200px;
    height: 200px;
    margin-left: 130px;
}
ul {
    display: flex;
    margin-left: 50%;
}
li{
    display: flex;
    text-align: center;
    margin-top: 80px;
}
li a{
    text-decoration: none;
    padding: 7px;
    font-size: 20px;
    color: #80d4ff;
}
a:hover{
color:#2439ED;
font-weight: bold;
}
form{
    margin-top: 60px;
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    border: 3px solid #80d4ff;
    border-radius: 10px;
}

input{
    margin-left: 65px;
    height: 30px;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #80d4ff ;
    background-color: transparent;
    resize: none;
    outline: none;
}
button{
    font-size: 20px;
    margin-left: 110px;
    height: 40px;
    width: 150px;
    background-color: white;
    border: 3px solid #80d4ff ;
    margin-top: 15px;
}
.text1{
    font-size: 18px;
    font-weight: bold;
    color: #0c5377 ;
    margin-left: 65px;
    margin-top: 75px;
}
.text{
    font-size: 18px;
    font-weight: bold;
    color: #0c5377 ;
    margin-top: 15px;
    margin-left: 65px;
}
.login{
    text-align: center;
    box-sizing: border-box;
    border:1px solid #A2BAE0;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    margin-left: 10px;
}